#map {
    height: 200px;
    width: 90%;
    margin: 0px;
}


/* Optional: Makes the sample page fill the window. */

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #f0f2fb;
}

body {
    padding: 0 !important;
}

table {
    font-size: 12px;
}

.hotel-search {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    background: #fff;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    left: 0;
    position: absolute;
    top: 0;
    width: 440px;
    z-index: 1;
}

#map {
    width: 100%;
    margin-top: 10px;
    height: 350px;
    margin-bottom: 10px;
}

#listing {
    position: absolute;
    width: 200px;
    height: 350px;
    /* modified to be the same height as the map */
    overflow: auto;
    left: 18px;
    /* modified to be */
    top: 150px;
    cursor: pointer;
    overflow-x: hidden;
}

#findhotels {
    font-size: 14px;
}

#locationField {
    margin-bottom: 10px;
}

#controls {
    margin-left: 10px;
}

#autocomplete {
    width: 50%;
    margin-left: 10px;
}

#country {
    width: 45%;
    margin-bottom: 10px;
}

.placeIcon {
    width: 20px;
    height: 34px;
    margin: 4px;
}

.hotelIcon {
    width: 24px;
    height: 24px;
}

#resultsTable {
    border-collapse: collapse;
    width: 240px;
}

#rating {
    font-size: 13px;
    font-family: Arial Unicode MS;
}

.iw_table_row {
    height: 18px;
}

.iw_attribute_name {
    font-weight: bold;
    text-align: right;
}

.iw_table_icon {
    text-align: right;
}


/* my code */

.no-margin {
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}

.site-title {
    margin-bottom: 10px;
    text-align: center;
}

#choice {
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
}

.search-again {
    margin-left: 5px;
}


/* margins for radio buttons */

#restaurant {
    margin-left: 5px;
}

#cafe {
    margin-left: 5px;
}

#bar {
    margin-left: 5px;
}

#hotel {
    margin-left: 5px;
}


/* Media Queries */

@media (min-width:1px) and (max-width:575px) {
    .h2 {
        font-size: 40px;
    }
}

@media (min-width:576px) and (max-width:767px) {
    .h2 {
        font-size: 45px;
    }
}

@media (min-width:768px) and (max-width:991px) {
    .h2 {
        font-size: 60px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .h2 {
        font-size: 70px;
    }
}

@media (min-width:1200px) and (max-width:4000px) {
    h2 {
        font-size: 80px;
    }
}